* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  min-height: 73px;
  height: 10vh;
  background-color: #211b55;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.messages {
  height: 300px;
  width: 312px;
  overflow-x: hidden; /* Disable horizontal scroll */
}
.anotherMsg {
  display: inherit;
  font-size: 14px;
  color: blue;
  /* color: #a5a5a5; */
}
.myMsg {
  display: flex;
  justify-content: end;
}

.myUser,
.anotherUser {
  background: #b9e97c;
  padding: 0.5rem;
  display: inline-flex;
  margin: 5px 0 0.5rem;
  max-width: 180px;
}
.anotherUser {
  background: #d8d8d8;
  color: #000;
}
.WngRoomId {
  color: #e60026;
  margin-top: 5px;
}
.remove {
  display: none;
}
.open {
  display: inherit;
}
.form {
  width: 312px;
}
input,
button {
  height: 55px;
  width: 100%;
  border-radius: 5px;
}
button {
  display: inherit;
  margin-top: 1rem;
  background-color: #9cbbe9;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #a8cbff;
}
input {
  margin-top: 5px;
  padding: 15px;
  border: solid 1px;
  font-size: 1rem;
}
.form__subtitle {
  margin-top: 13px;
}
.form__selectOp {
  height: 55px;
  width: 100%;
  font-size: 1rem;
}
